<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Vacinas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngFor="let v of vaccinesWithStats">

    <ion-card-header>
      <ion-card-title>
        {{ v.name }}
      </ion-card-title>

      <ion-card-subtitle>
        Idade recomendada: {{ v.recommendedAgeMonths }} meses
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <div class="status-box warning">
        Pendentes: {{ v.stats.pending }}
      </div>

      <div class="status-box danger">
        Atrasadas: {{ v.stats.late }}
      </div>

      <div class="status-box ok">
        Aplicadas: {{ v.stats.applied }}
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>