<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Campanhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngFor="let c of campaigns">

    <ion-card-header>

      <ion-card-title>
        {{ c.name }}
      </ion-card-title>

      <ion-card-subtitle>
        Vacina: {{ getVaccineName(c.vaccineId) }}
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>

      <div class="status-box ok">
        Elegíveis: {{ getCampaignData(c).eligibleCount }}
      </div>

      <div class="status-box warning">
        Pendentes: {{ getCampaignData(c).pendingCount }}
      </div>

      <div class="status-box danger">
        Vacinados: {{ getCampaignData(c).vaccinatedCount }}
      </div>

      <hr>

      <div *ngFor="let item of getCampaignData(c).list">

        <p>
          <strong>{{ item.child.name }}</strong>
        </p>

        <p *ngIf="item.status === 'VACINADO'">
           Já vacinado(a)
        </p>

        <p *ngIf="item.status === 'PENDENTE'">
           Precisa comparecer
        </p>

        <p *ngIf="item.status === 'NAO_ELEGIVEL'">
           Fora do público-alvo
        </p>

      </div>

    </ion-card-content>

  </ion-card>

</ion-content>