.vaccine-card {
  margin-bottom: 12px;
  border-radius: 12px;
}

.status {
  font-weight: bold;
  margin-top: 8px;
}

.ok {
  color: #ABC270; // verde Ionic
}

.warning {
  color: #FEC868; // amarelo Ionic
}

.danger {
  color: #FDA769; // vermelho Ionic
}

.date {
  opacity: 0.7;
  font-size: 14px;
}

ion-card {
  border-radius: 16px;
  margin-bottom: 16px;
}

ion-card-title {
  color: #473C33;
  font-weight: 700;
}

ion-toolbar {
  --background: #ABC270;
  --color: #473C33;
}