ion-card {
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 16px;
  margin-bottom: 16px;
}

ion-card:hover {
  transform: scale(1.02);
}

.status {
  padding: 6px 10px;
  border-radius: 8px;
  margin: 4px 0;
  font-weight: bold;
  color: #473C33;
}

.ok {
  background: #ABC270;
}

.warning {
  background: #FEC868;
}

.danger {
  background: #FDA769;
}

.btn-remove {
  --background: #FDA769; 
  --color: #000;
}

ion-card-title {
  color: #473C33;
  font-weight: 700;
}

ion-toolbar {
  --background: #ABC270;
  --color: #473C33;
}