// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #ABC270;
  --ion-color-warning: #FEC868;
  --ion-color-danger: #FDA769;
  --ion-color-dark: #473C33;
}