// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #ABC270;
  --ion-color-warning: #FEC868;
  --ion-color-danger: #FDA769;
  --ion-color-dark: #473C33;
  --ion-text-color: #473C33;
  --ion-background-color: #ffffff;

  --ion-text-color: #473C33;
  --ion-background-color: #f7f7f7; /* <- melhora MUITO contraste */
}