<ion-app>
  <ion-split-pane contentId="main-content">
    
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <!-- HEADER DO APP -->
        <ion-list>
          <ion-list-header>
            Vacina Kids
          </ion-list-header>

          <ion-note>
            Controle vacinal infantil
          </ion-note>
        </ion-list>

        <!-- MENU PRINCIPAL -->
        <ion-list id="menu-list">

          @for (p of appPages; track p) {
            <ion-menu-toggle auto-hide="false">
              
              <ion-item
                routerDirection="root"
                [routerLink]="[p.url]"
                lines="none"
                detail="false"
                routerLinkActive="selected">

                <ion-icon
                  slot="start"
                  [ios]="p.icon + '-outline'"
                  [md]="p.icon + '-sharp'">
                </ion-icon>

                <ion-label>
                  {{ p.title }}
                </ion-label>

              </ion-item>

            </ion-menu-toggle>
          }

        </ion-list>

      </ion-content>
    </ion-menu>

    <!-- CONTEÚDO PRINCIPAL -->
    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>